[Unit]
Description=Kuangshi16Pro Linux Control Center daemon
Documentation=man:lccd(8)

[Service]
Type=dbus
BusName=io.github.semcosm.Lcc1
ExecStart=/usr/lib/kuangshi16pro-lcc/lccd --system
Restart=on-failure

[Install]
WantedBy=multi-user.target
